{% extends 'base.html' %}

{% block content %}
<body>
    <H1>TENTANG MATEMATIKA</H1>
    <H3>Pengertian Matematika adalah ilmu yang mempelajari hal-hal seperti besaran, struktur, ruang dan perubahan. Matematika sebelumnya juga disebut dengan ilmu hisab.
    Banyak hal yang bisa dipelajari di Ilmu Matematika, salah satu ilmu pasti dengan rumus yang sudah valid. Apakah kamu salah satu orang yang suka dengan Matematika?</H3>
    <H3>Matematika juga memiliki beberapa komponen penting, dimana hal tersebut adalah cakupan dalam pembelajaran kali ini. Sudahkah kamu mengetahui komponen itu?
    Matematika adalah ilmu yang bisa dibilang susah atau mudah, tergantung dari cara kamu memandang hal tersebut. Ada baiknya, kamu harus suka terlebih dahulu dan tidak takut belajar materi ini.</H3>
    <H3>Untuk itu, tidak perlu lama-lama langsung saja mari kita kupas tuntas mengenai apa itu matematika dan beberapa hal yang menjadi dasar pembelajaran Matematika.</H3>
    <H3><iframe width="560" height="315" src="https://www.youtube.com/embed/eQv10AP5BG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></H3>
</body>
{% endblock %}