{% extends 'base.html' %}

{% block content %}
<body>
    <H1>VIDIO PEMBELAJARAN</H1>
    <H3>berikut adalah beberapa vidio pembelajaran mengenai mata pelajaran matematika seperti aljabar, fungsi, trigonometri, geometri, kalkulus, dan lain lain. selamat menonton! </H3>
    <H3><iframe width="560" height="315" src="https://www.youtube.com/embed/eQv10AP5BG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></H3>
    <H3><iframe width="560" height="315" src="https://www.youtube.com/embed/v4qRA0BRyXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></H3>
    <H3><iframe width="560" height="315" src="https://www.youtube.com/embed/oBAYqDO7UP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></H3>
    <H3><iframe width="560" height="315" src="https://www.youtube.com/embed/PCg37wKBsEk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></H3>
    <H3><iframe width="560" height="315" src="https://www.youtube.com/embed/t61sytG-Teo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></H3>
    <H3><iframe width="560" height="315" src="https://www.youtube.com/embed/9DN156lt6iU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></H3>
</body>
{% endblock %}